/* You can add global styles to this file, and also import other style files */

$minus-red: crimson;

a {
    text-decoration: none;
}

body {
    color: white;
    background-color: gray;
}

// Angular Material
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




@media only print {
    body {
        color: greenyellow;
    }
}

@media only screen and (min-width: 600px) {
    body {
        color: violet;
    }
}