/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/bootstrap.scss";

$minus-red: crimson;

body {
    background-color: rgb(238, 238, 238);
}

a {
    text-decoration: none;
}