@import '../../styles.scss';

#total-balance {
    &.is-minus {
        color: $minus-red;
    }

    margin: 1rem 0 1rem 0;
}

.transaction-amount {
    &.is-minus {
        color: $minus-red;
    }
}