<h2 i18n="account list header|Header h2 element for account list@@account-list-header">Konten</h2>

<h2 id="total-balance" [ngClass]="{'is-minus': total < 0}">{{ total | round | number:'1.2-2' }} CHF</h2>

<table mat-table [dataSource]="accounts">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let account">{{ account.name }}</td>
    </ng-container>

    <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef> Balance </th>
        <td mat-cell *matCellDef="let account" [ngClass]="{'account-balance': true, 'is-minus': account.balance < 0}">
            {{ account.balance | round | number:'1.2-2' }}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let account; columns: columnsToDisplay" [routerLink]="['/account', account.id]"></tr>
    
</table>
